body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.panel.panel-default .table>tbody>tr>td{
    vertical-align: middle;
}

.edit-check{
    background-color: #00a651;
    border-color: #008d45;
    color: #fff;
    transition: all 0.5s;
}

.remove-cancel{
    background-color: #cc2424;
    border-color: #b62020;
    color: #fff;
    transition: all 0.5s;
}

.remove-cancel:hover{
    background-color: #fff;
    color:#cc2424 ;
}

.edit-check:hover{
    background-color: #fff;
    color:#00a651 ;
}

.table.table-striped td:nth-last-child(2){
    /*text-align: right;*/
}

.href-button{
    margin-bottom: 20px;
}

.bord-right{
    border-right: 1px solid #333;
}

.select2.select2-container{
}

.csv-part .table{
    table-layout: fixed
}

.animate-spinner {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    font-size: 16px;
    vertical-align: middle;
}

.create_import i{
    margin-right: 5px;
    color: #00FF00;
}

.export-page a i{
    color: red;
    margin-left: 5px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}